<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El rincón del Cine - Películas</title>
    <link rel="stylesheet" th:href="@{/styles/estilos.css}">
</head>
<body>
    <div class="bas"><div class="Slogan"><div class="NomSitio"></div></div></div>
    <div class="base">
        <div class="cabecera"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        <div class="subcabecera"><div class="CuentaAtrasCatro"></div><p>&nbsp;Seleccione una película</p></div>
		
        <div class="cuerpo">
			
			<div th:each="dataSession, item: ${activeSessions}">	
				
				<a th:id="'Idfilm' + (${dataSession.filmId})" class="pelicula" 
				 th:href="@{/step2(filmId=${dataSession.filmId}, salaId=${dataSession.roomNumber}, sessionId=${dataSession.sessionId})}"
				th:style="|background-image: url(@{/img/films/billboard/film{film}.jpg(film=${dataSession.filmId})});|"></a>
                <div class="info">
					<p th:utext="'<span>' + 'SALA ' + (${dataSession.roomNumber}) + '</span> - ' + ${reservation.price} + '€'"> 
					<span >SALA 1</span> 
					- 6.5€ </p></div>
            </div>
   
        </div>
        <div class="pie"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </div>
</body>
</html>